{% extends 'base.html' %}

{% block contenido %}
<h2>Editar Evento</h2>

<form method="POST">
    {% csrf_token %}
    
    <div class="mb-3">
        <label>Título</label>
        <input type="text" name="titulo" value="{{ evento.titulo }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Descripción</label>
        <textarea name="descripcion" class="form-control">{{ evento.descripcion }}</textarea>
    </div>

    <div class="mb-3">
        <label>Fecha</label>
        <input type="date" name="fecha" value="{{ evento.fecha }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Hora</label>
        <input type="time" name="hora" value="{{ evento.hora }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Lugar</label>
        <input type="text" name="lugar" value="{{ evento.lugar }}" class="form-control">
    </div>

    <button class="btn btn-primary">Actualizar</button>
</form>

{% endblock %}
